<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Artista</title>
</head>
<body>
    <h1> Criar Artista </h1>
    <form action="/artista" method="POST"> 
        <label for="nome">Nome do Artista:</label>
        <input type="text" id="nome" name="nome" required>

        <label for = "genero">Gênero Musicao do Artista</label>
        <select id="genero" name="genero" required>
            <option value="genero1">genero1</option>
            <option value="genero2">genero2</option>
            <option value="genero3">genero3</option>
        </select>

        <label for = "discos">Discos que participou</label>
        <select id="discos" name="discos" required>
            <option value="disco1">disco1</option>
            <option value="disco2">disco2</option>
        </select>
        <button type="submit">Criar</button>
    </form>
    <a href="/" class="button-link">
        <button type="button">Voltar</button>
    </a>
</body>
</html>

