<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
</head>
<body>
    <label for = "categoria">Buscar por Artista ou Disco?</label>
    <select id="categoria" name="categoria" required>
        <option value="nenhum">Nenhum</option>
        <option value="disco">Artista</option>
        <option value="artista">Disco</option>
    </select>

    <label for = "titulo">Buscar por Título de Disco</label>
    <select id="titulo" name="titulo" required>
        <option value="nenhum">Nenhum</option>
        <option value="ex">exemplo</option>
    </select>

    <label for = "nome">Buscar por Nome do Artista</label>
    <select id="nome" name="nome" required>
        <option value="nenhum">Nenhum</option>
        <option value="ex2">exemplo</option>
    </select>

    <label for = "genero">Buscar por Gênero Musical</label>
    <select id="genero" name="genero" required>
        <option value="nenhum">Nenhum</option>
        <option value="ex3">exemplo</option>
    </select>
</body>
</html>