<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Discos</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <div class="container">
        <h1>Catálogo de Discos</h1>
        <h1>O que deseja fazer?</h1>
        <div class="buttons">
            <a href="/artista" class="button-link">
                <button>Criar Artista</button>
            </a>
            <a href="/disco" class="button-link">
                <button>Criar Disco</button>
            </a>
            <a href="/catalogo" class="button-link">
                <button>Ver Catálogo</button>
            </a>
        </div>
    </div>
</body>

</html>
